@charset "UTF-8";

.fotos {
	max-width: 900px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 20px;
	gap: 20px;	
}

.todas-fotos{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 8px;
}

.foto {
	max-width: 160px;
	width: 100%;
	border-radius: 6px;
}